.pure-menu.pure-menu-fixed {
    position: fixed;
    height:55px
}
.pure-menu .pure-menu-item {
  height:100%;
  line-height: 50px;
  width:80px
}
.pure-menu.pure-menu-white {
    background: #F8F8FF;
}
.pure-menu.pure-menu-white .pure-menu-heading:hover {
    color: #7E9307;
}
.pure-menu .pure-menu-list {
   height:100%
}
.pure-menu.pure-menu-white a {
  line-height: 50px;
  display:inline-block;
  color:#002147;
  height:100%;
  text-decoration:none;
  margin: 0;
  padding: 0;
}
.pure-menu.pure-menu-white a:hover {
    color: #7E9307;
}
.pure-menu.pure-menu-white .pure-menu-selected {
    box-shadow: inset 0px -4px 0px 0px #7E9307;
}